<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJlRq_ZQAWQGKj09FthgtIQI3UUai4BHI</string>
	<key>GCM_SENDER_ID</key>
	<string>118546917705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yeongdaekim.wonderminute</string>
	<key>PROJECT_ID</key>
	<string>wonderminute-7a4c9</string>
	<key>STORAGE_BUCKET</key>
	<string>wonderminute-7a4c9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118546917705:ios:6f7a84a6e9025b189f1298</string>
</dict>
</plist>